<div class="next-steps my-5 container">
    <h2 class="my-5 text-center">Welcome !</h2>

    <div class="row">
      <div class="col-md-5 text-center align-middle my-auto">
        <h4>This is </h4>
        <img src="../../../assets/Purple_Rain.png" style="width:300px"/>
        <p>An app designed as a Progressive web app: if you are browsing
          through a mobile device, you'll be able to download this as an
          application, for a more convenient use !</p>
      </div>

      <div class="col-md"></div>

      <div class="col-md-5 text-center align-middle my-auto">
        <p>
          After signing in through Google or Github (using the top right button),
          you'll be able to get the locale weather thanks to geolocation, but also
          check the weather from any location in the world by choosing a city !
        </p>
      </div>
    </div>
  </div>
