<div class="next-steps my-5">
    <h2 class="my-5 text-center">What can I do next?</h2>

    <div class="row">
      <div class="col-md-5 mb-4">
        <h6 class="mb-3">
          <a href="https://auth0.com/docs/connections">
            <fa-icon [icon]="faLink"></fa-icon> Blablabla
          </a>
        </h6>
        <p>
          BlablablaBlablablaBlablablaBlablabla
          BlablablaBlablablaBlablablaBlablablaBlablablaBlablabla
        </p>
      </div>

      <div class="col-md"></div>

      <div class="col-md-5 mb-4">
        <h6 class="mb-3">
          <a href="https://auth0.com/docs/multifactor-authentication">
            <fa-icon [icon]="faLink"></fa-icon> Blablabla
          </a>
        </h6>
        <p>
          BlablablaBlablablaBlablablaBlablablaBlablabla
          BlablablaBlablablaBlablablaBlablablaBlablablaBlablablaBlablablaBlablabla
        </p>
      </div>
    </div>
  </div>
