.row {
    height: 100%;
}

#map {
    max-height: 500px;
    max-width: 500px;
    min-height: 300px;
    min-width: 300;
    height:100%;
    width:auto;
}

.locBtn button{
    margin:5px;
}

.locBtn input {
    margin:5px;
}